link(rel="stylesheet", href="css/main.css")

.header
    .section1
        img(src="img/fr1.jpg", alt="")
    .section2
        .text1
            h2.display-1 HỆ THỐNG ĐIỂM DANH BẰNG NHẬN DẠNG KHUÔN MẶT
        .text2
            h2.display-1 Bộ môn: Đồ án lập trình hệ thống và vi điều khiển
        .text3
            a(href='./home') Login