extends ../layouts/common

block content
    h1.display-5.text-center.pb-5 ĐỒ ÁN LẬP TRÌNH HỆ THỐNG VÀ VI ĐIỀU KHIỂN
    .row
        .col
            .card
                .card-body
                    h5.card-title NGÀY DẠY
                    h6.card-subtitle.mb-2.text-muted GV: Ninh Khánh Duy
                    a.card-link(href='/home/teachDay') Xem thông tin ngày dạy
        .col
            .card
                .card-body
                    h5.card-title DANH SÁCH SINH VIÊN
                    h6.card-subtitle.mb-2.text-muted Lớp học phần: 17Nh10
                    a.card-link(href='/users/listStudent') Xem danh sách sinh viên